---
import "~/styles/custom.css";

interface Props {
	title?: string;
	description?: string;
}

const {
	title = "JWKS & JWT Tool | Secure & Online",
	description = "Easily generate and manage JSON Web Key Sets (JWKS) and JSON Web Tokens (JWT) with our secure online developer tool.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- SEO -->
		<title>{title}</title>
		<meta name="description" content={description} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
	</head>
	<body>
		<slot />
	</body>
</html>
